.Vue-Toastification__container {
  z-index: 99999 !important;
  position: fixed !important;
  top: 1.5rem !important;
  right: 1.5rem !important;
  left: auto !important;
  bottom: auto !important;
  pointer-events: none;
}

.Vue-Toastification__toast {
  pointer-events: auto;
}